
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vzinger's Blog</title>
    <meta name="keywords" content="个人博客，PHP,服务器，Linux，mysql，sunshine，技术博客" />
    <meta name="description" content="个人博客" /><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://www.sunshinecom.cn/public/uploads/20180810/4557e50845cf556d2455722f0071c311.jpg" type="image/x-icon"/>
    <!--<link rel="icon" href="/public/uploads/20180802/a53a0b0f565fc204010cd77017f4d6ba.png" type="image/x-icon"/>-->
    <link href="http://space.sunshinecom.cn/css/base.css" rel="stylesheet">
    <link href="http://space.sunshinecom.cn/css/index.css" rel="stylesheet">
    <link href="http://space.sunshinecom.cn/css/m.css" rel="stylesheet">
    <!--<link href="http://space.sunshinecom.cn/css/style.css" rel="stylesheet">-->

    <!--<link href="/public/static/admin/css/shop.css" type="text/css" rel="stylesheet" />-->
    <!--<link href="/public/static/admin/css/Sellerber.css" type="text/css"  rel="stylesheet" />-->
    <link href="http://space.sunshinecom.cn/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
    <!--<link href="font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />-->
    <script src="http://space.sunshinecom.cn/js/jquery.min.js" type="text/javascript"></script>
    <script src="http://space.sunshinecom.cn/js/jquery.easyfader.min.js"></script>
    <script src="http://space.sunshinecom.cn/js/scrollReveal.js"></script>
    <script src="http://space.sunshinecom.cn/js/common.js"></script>
    <!--<script src="http://space.sunshinecom.cn/js/layer/layer.js" type="text/javascript"></script>-->
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css" media="all" />
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <!--[if lt IE 9]>
    <script src="http://space.sunshinecom.cn/js/modernizr.js"></script>
    <![endif]--></head>
<body>
{:widget('Widget/header')}