
</div>
</div>
</div>
</div>
<div class="layui-footer footer footer-demo" id="admin-footer">
    <div class="layui-main">
        <p>2018 &copy;
            <a href="http://www.sunshinecom.cn/">vzinger</a> Apache Licence 2.0
        </p>
    </div>
</div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
<script src="__ADMIN__/js/index.js"></script>
<script>
    layui.use('layer',function(){
        var $ = layui.jquery, layer = layui.layer;
        $('#cache').click(function () {
            document.cookie="skin=;expires="+new Date().toGMTString();
            layer.confirm('确认要清除缓存？', {icon: 3}, function () {
                $.post('{:url("clear")}',function (data) {
                    layer.msg(data.info, {icon: 6}, function (index) {
                        layer.close(index);
                        window.location.href = data.url;
                    });
                });
            });
        });
    })
</script>
</div>
</body>
</html>