{include file="public/head" /}
    <style>
        .pagelist1 { text-align: center; color: #666; width: 100%; clear: both; margin: 20px 0; padding-top: 20px }
        .pagelist1 li { margin: 0 2px; border: 1px solid #000; padding: 5px 10px; }
        .pagelist1 > b { border: 1px solid #000; padding: 5px 10px; }
    </style>
<div class="pagebg sh"></div>
<div class="container">
    <h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。 </span><a href="/" class="n1">网站首页</a><a href="/" class="n2">学无止境</a></h1>
    <!--blogsbox begin-->
    {include file="public/list" /}
    <!--blogsbox end-->
    {:widget('Widget/right')}
</div>
<!--<footer>-->
{include file="public/footer" /}
<!--</footer>-->
